@import "./colors.scss";

@media screen and (max-width: 400px) {
   .wrapper {
     width: 90%;
   }
}

@media screen and (min-width: 400px) {
    .wrapper {
        width: 20em;
    }
}

.balance {
    display: flex;
    justify-content: space-between;
    background-color: $soft-red;
    height: 5em;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    color: $pale-orange;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info__text {
    font-size: 0.85rem;
}

.info__number {
    font-size: 1.5rem;
}

.cardWrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: $pale-orange;
    width: 100%;
    border-radius: 0.5rem;
}

.spending {
    font-size: 1.5rem;
}

.chart {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
    border-bottom: $cream 4px solid;
    border-radius: 1px;
    margin: 2.5rem 0;

}

.column {
    display: flex;
    justify-content: center;
    position: relative;
    width: 2em;
    border-radius: 0.25em;
    background-color: $soft-red;
    cursor: pointer;
    transition: background-color 0.1s ease-out;

    &:hover,
    &:focus,
    &:active {
        background-color: $transparent-soft-red;
        
        .hoverAmount {
            opacity: 1;
        }
    }
}

.column.most {
    background-color: $cyan;

    &:hover,
    &:focus,
    &:active
     {
        background-color: $transparent-cyan;
    }
}

.hoverAmount {
    position: absolute;
    opacity: 0;
    background-color: $dark-brown;
    color: $pale-orange;
    top: -2.5rem;
    font-weight: bold;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 0.85rem;
    transition: opacity ease-in 0.1s;
    z-index: 1;
}

.dayDisplay {
    text-align: center;
    margin: 0.75rem 0;
    font-size: 0.85rem;
}

.stats {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}