// Primary colors

$soft-red: hsl(10, 79%, 65%);
$transparent-soft-red: rgba(236, 119, 95, 0.5);
$cyan: hsl(186, 34%, 60%);
$transparent-cyan: hsla(186, 34%, 60%, 0.5);

// Neutral colors
$dark-brown:hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);